/* header login css_my */
@media screen and (min-width: 768px){
.modal-dialog {
    width: 464px;
	}
}
.nav-center{
	text-align: center;
}
.nav-right{
	text-align: right;
}
header div div:nth-child(odd){
	background-color: lime;
	padding: 0 4%;
}

/* login box */
.modal-dialog{
	float: right;
	margin: 0;
}
.loginmodal-container{
	margin-right: 4%;
}